.u-section-1 {
  background-image: url("images/Unbenannt.png");
  min-height: 902px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  font-family: "Fugaz One";
  margin: 191px calc(((100% - 1140px) / 2) + 277px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-text-2 {
  margin: 69px calc(((100% - 1140px) / 2) + 92px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-image-1 {
  height: 822px;
  margin-top: -607px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 727px;
  height: 727px;
  margin: -774px calc(((100% - 1140px) / 2) + -101px) 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: -27px auto 60px calc(((100% - 1140px) / 2) + 20px);
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
    min-height: 744px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1269px;
    margin-right: calc(((100% - 1140px) / 2) + 597px);
    margin-left: calc(((100% - 1140px) / 2) + 500px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 1801px;
    margin-left: calc(((100% - 1140px) / 2) + 500px);
    margin-right: calc(((100% - 1140px) / 2) + 500px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -612px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -423px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 193px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -317px;
    margin-right: calc(((100% - 1140px) / 2) + 487px);
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 570px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 90px);
    margin-left: calc(((100% - 1140px) / 2) + 1050px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 1351px;
    margin-right: calc(((100% - 1140px) / 2) + 90px);
    margin-left: calc(((100% - 1140px) / 2) + 1050px);
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + -7px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 357px);
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 241px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + -360px);
    margin-left: calc(((100% - 1140px) / 2) + 1500px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 1205px;
    margin-right: calc(((100% - 1140px) / 2) + -360px);
    margin-left: calc(((100% - 1140px) / 2) + 1500px);
  }

  .u-section-1 .u-image-1 {
    margin-top: -769px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-top: -232px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -321px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 41px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + -860px);
    margin-left: calc(((100% - 1140px) / 2) + 2000px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 1122px;
    margin-right: calc(((100% - 1140px) / 2) + -860px);
    margin-left: calc(((100% - 1140px) / 2) + 2000px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -108px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -245px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-family: "Fugaz One";
  font-size: 6rem;
  margin: 41px 310px 0 28px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-family: "Fugaz One";
  margin: -7px 310px 0 28px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-family: "Fugaz One";
  margin: 20px 310px 0 28px;
}

.u-section-2 .u-image-1 {
  width: 307px;
  height: 307px;
  margin: -417px 124px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 500px;
  height: 500px;
  margin: -130px 60px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 118px;
  height: 118px;
  margin: -302px auto 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 73px auto 60px 133px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 137px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 33px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -142px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 886px;
}

.u-section-3 .u-text-1 {
  width: 743px;
  font-family: "Fugaz One";
  margin: 57px auto 0;
}

.u-section-3 .u-image-1 {
  width: 500px;
  height: 500px;
  margin: 196px -22px 0 662px;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 450px;
  height: auto;
  margin: -695px auto 0;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 623px;
  height: 354px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 623px;
  height: 354px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-3 .u-image-4 {
  width: 668px;
  height: 390px;
  margin: 0 -10px 0 auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 59px;
  height: 59px;
}

.u-section-3 .u-carousel-control-2 {
  width: 59px;
  height: 59px;
}

.u-section-3 .u-image-5 {
  width: 196px;
  height: 196px;
  margin: -507px auto 0 -35px;
}

.u-section-3 .u-image-6 {
  width: 237px;
  height: 237px;
  margin: 226px auto 0 57px;
}

.u-section-3 .u-image-7 {
  width: 46px;
  height: 46px;
  margin: -132px auto 60px 662px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 195px;
    margin-left: 562px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 402px;
  }

  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-image-2 {
    width: 601px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 111px;
    margin-left: 232px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 366px;
    margin-top: -611px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    width: 520px;
    height: 306px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    width: 520px;
    height: 295px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    width: 520px;
    height: 304px;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    margin-left: 494px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -7px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-slider-1 {
    min-height: 248px;
    margin-top: -333px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    width: 320px;
    height: 188px;
  }

  .u-section-3 .u-image-3 {
    width: 320px;
    height: 182px;
  }

  .u-section-3 .u-image-4 {
    width: 320px;
    height: 187px;
  }

  .u-section-3 .u-image-7 {
    margin-left: 294px;
  }
}